---
layout: bootcamp
root: .
eventtitle: Grantsmanship and Strategic Grant Development
venue: University of Illinois
room: Innovation Room, I-Hotel
address: 1900 South First Street, Urbana, Illinois 
country: United-States
humandate: November 8–9
humantime: 8:30 am–4:00 pm
humanyear: 2014
startdate: 2014-11-08
enddate: 2014-11-09
latlng: 40.1143679,-88.2260782
registration: restricted
instructor: "Neal Davis and Farzaneh Masoud"
organizer: "Neal Davis and Farzaneh Masoud"
contact: cse@cse.illinois.edu
eventbrite: true
---

<h2>General <strong>Information</strong></h2>

<p>
We aim to introduce early career researchers (faculty and postdocs) to the
foundation for competing in the fierce world of professional research
by identifying and obtaining funding.
</p>

<p>
This two-day research workshop, hosted by
<a href="http://cse.illinois.edu">Computational Science and Engineering</a>
at the University of Illinois, will introduce researchers to grantsmanship,
the art of writing proposals and acquiring research funding.
</p>
<p>
<ul>
    <li>Day 1 (Saturday November 8)—Grantsmanship Workshop</li>
    <li>Day 2 (Sunday November 9)—Strategic Grant Development Workshop</li>
<ul>
</p>
<p>
Participants should bring their own laptops to work on—contact
<a href="mailto:davis68@illinois.edu">Neal Davis</a> if you need special
accomodation.
</p>

<p>
  Breakfast and lunch will be provided during the workshop.
</p>

<!-- This block displays the instructors' names if they are available. -->
{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

<p>
  <strong>Who:</strong>
  The target audience for this research workshop is academic researchers—
  faculty and postdocs—
  who are interested in learning the ins and outs of acquiring professional
  research funding.
</p>

{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}
</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1526.0903892075096!2d-88.23721716070878!3d40.0936821930155!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880cd728e3feb9c9%3A0x23d1b0ed6de4e24e!2sI+Hotel+and+Conference+Center!5e0!3m2!1sen!2sus!4v1409169743793" width="600" height="240" frameborder="0" style="border:0"></iframe>
{% endif %}

<p>
  <strong>When:</strong>
  {{page.humandate}}, {{page.humanyear}}
  {% if page.humantime %}<br/>{{page.humantime}}{% endif %}
</p>

<p>
  <strong>Contact</strong>:
  Please mail <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  for more information.
</p>

<hr/>

<h2><strong>Registration</strong></h2>

{% if page.eventbrite %}
{% include registration.html %}
{% endif %}

<hr/>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53962544-4', 'auto');
  ga('send', 'pageview');

</script>
