<TABLE class="table table-striped">
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Background</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT">tentative</TD>
        <TD ALIGN="LEFT">Neal Davis, CSE Training Coordinator</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Introduction</TD>
        <TD ALIGN="LEFT">Day 1</TD>
        <TD ALIGN="LEFT">8–9</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Architecture</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT">9–12</TD>
        <TD ALIGN="LEFT">Roy Campbell, CS Professor</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Hadoop &amp; MapReduce</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT">12:30–4</TD>
        <TD ALIGN="LEFT">Yahoo! Hadoop developers</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
    </TR>
     <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Data Sets</TD>
        <TD ALIGN="LEFT">Day 2</TD>
        <TD ALIGN="LEFT">8–10</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Data Cleaning</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT">10–12</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Data Mining</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT">12:30–2</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Replicability &amp; Exp</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT">2–4</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Data Visualization</TD>
        <TD ALIGN="LEFT">Day 3</TD>
        <TD ALIGN="LEFT">8–10</TD>
        <TD ALIGN="LEFT">Donna Cox, NCSA AVL</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Machine Learning</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT">10–2</TD>
        <TD ALIGN="LEFT">Dan Roth, CS Professor</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Open Questions</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT">2–3</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Wrap-Up</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT">3–4</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Reception</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT">4–5</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
    </TR>
     <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Application:  Astroinformatics</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT">Robert Brunner, Astronomy Professor</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
    </TR>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Application:  Text processing</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT">Dan Roth, Mark Sammons, CS</TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
    </TR>
</TABLE>
