<TABLE class="table table-striped">
    <TR>
        <TD HEIGHT="18" ALIGN="CENTER"><STRONG>Day 1</STRONG></TD>
        <TD ALIGN="LEFT"></TD>
        <TD ALIGN="LEFT"></TD>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Introduction</TD>
        <TD ALIGN="LEFT">8:30–9</TD>
        <TD ALIGN="LEFT">TBD, CSE<BR></TD>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Motivation and Big Graph Challenges</TD>
        <TD ALIGN="LEFT">9–10</TD>
        <TD ALIGN="LEFT">Rakesh Nagi, ISE Head and Professor<BR></TD>
        <TD ALIGN="LEFT"><a href="https://github.com/uiuc-cse/bdda-su14/blob/gh-pages/material/nagi.pdf?raw=true">Slides</a></TD>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Architecture for Big Data and Cloud Computing</TD>
        <TD ALIGN="LEFT">10–12</TD>
        <TD ALIGN="LEFT">Roy Campbell, CS Professor</TD>
        <TD ALIGN="LEFT"><a href="https://github.com/uiuc-cse/bdda-su14/blob/gh-pages/material/campbell.pptx?raw=true">Slides</a></TD>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Apache Hadoop &amp; MapReduce</TD>
        <TD ALIGN="LEFT">1–4</TD>
        <TD ALIGN="LEFT">Yahoo! Hadoop development team</TD>
        <TD ALIGN="LEFT"><a href="https://github.com/uiuc-cse/bdda-su14/blob/gh-pages/material/yahoo.pptx?raw=true">Slides</a> <a href="https://github.com/uiuc-cse/bdda-su14/blob/gh-pages/material/yahoo.zip?raw=true">Material</a></TD>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="CENTER"><STRONG>Day 2</STRONG></TD>
        <TD ALIGN="LEFT"></TD>
        <TD ALIGN="LEFT"></TD>
    </TR>
        <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Application:  Phasor measurement units</TD>
        <TD ALIGN="LEFT">8:30–10</TD>
        <TD ALIGN="LEFT">Neal Davis, CSE Training Coordinator</TD>
        <TD ALIGN="LEFT"><a href="">Slides</a> <a href="">Materials</a></TD>
    </TR>
    <TR>
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Application:  Large-scale statistics</TD>
        <TD ALIGN="LEFT">10–11</TD>
        <TD ALIGN="LEFT">Nate Helwig, Statistics Visiting Professor</TD>
        <TD ALIGN="LEFT"><a href="https://github.com/uiuc-cse/bdda-su14/blob/gh-pages/material/helwig.R?raw=true">Materials</a></TD>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Data visualization</TD>
        <TD ALIGN="LEFT">11–12</TD>
        <TD ALIGN="LEFT">Dave Semeraro, NCSA &amp; Blue Waters Asst Director</TD>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Data Mining</TD>
        <TD ALIGN="LEFT">1–4</TD>
        <TD ALIGN="LEFT">Adam Filion, MathWorks<BR></TD>
        <TD ALIGN="LEFT"><a href="ftp://ftp.mathworks.com/pub/customer_pickup/20140529_UIUC">Materials</a> (User:  anonymous ; Password:  simulink)</TD>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="CENTER"><STRONG>Day 3</STRONG></TD>
        <TD ALIGN="LEFT"></TD>
        <TD ALIGN="LEFT"></TD>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Application:  Astroinformatics</TD>
        <TD ALIGN="LEFT">8:30–10</TD>
        <TD ALIGN="LEFT">Matias Carrasco-Kind, Astronomy</TD>
        <TD ALIGN="LEFT"><a href="https://github.com/uiuc-cse/bdda-su14/blob/gh-pages/material/get_astro_data.py?raw=true">Slides and Materials</a></TD>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Machine Learning</TD>
        <TD ALIGN="LEFT">10–1</TD>
        <TD ALIGN="LEFT">Adam Filion, MathWorks</TD>
        <TD ALIGN="LEFT"><a href="ftp://ftp.mathworks.com/pub/customer_pickup/20140530_UIUC">Materials</a></TD>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Application:  Efficient ranking</TD>
        <TD ALIGN="LEFT">2–3:30</TD>
        <TD ALIGN="LEFT">Lidan Wang, Computer Science<BR></TD>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Open Questions and Challenges</TD>
        <TD ALIGN="LEFT">3:30–3:45</TD>
        <TD ALIGN="LEFT">Radha Nandkumar, Interim-Director, Graduate Program in Data Analytics, Industrial and Enterprise Systems Engineering; formerly, ICARE Director, National Center for Supercomputing Applications<BR></TD>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT">Wrap-Up and Research Opportunities</TD>
        <TD ALIGN="LEFT">3:45–4</TD>
        <TD ALIGN="LEFT">Neal Davis, CSE Training Coordinator<BR></TD>
    </TR>
    <TR>
        <TD HEIGHT="18" ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT"><BR></TD>
        <TD ALIGN="LEFT">Farzaneh Masoud, CSE Research Coordinator<BR></TD>
    </TR>
</TABLE>
