<h4>Grantsmanship Workshop</h4>
<p>
This executive education-style workshop teaches and enhances skills associated with effective grant opportunity identification, preparation, writing, and submission to researchers engaged in research, as well as research administrators responsible for pursuing grant opportunities. Strategies for developing grant proposals that support both hypothesis-driven and need-based empirical research activities will be presented, with a focus on opportunities from government, corporate, and foundation sectors. The course is appropriate for researchers at all levels (trainees through early/mid-career faculty) and research administrators conducting or supporting research in the biological, clinical, life sciences, medical and natural sciences; physical sciences and mathematics; social and behavioral sciences; engineering; law; and education. 
</p>
<p>
Topics covered in this workshop course include: Grant Resources; Funding Agencies; Funding Opportunity Identification; Research Program Development; Pre- and Post-Award Compliance Primer; Proposal Planning; Proposal Components; Writing the Specific Aims and Narrative Sections; Budget Development; Review Process; Proposal Submission; and Team Science. 
</p>

<h4>Strategic Grant Development</h4>
<p>
The workshop gives you a strategic understanding of proposal development for grants, contracts, or gifts. The focus of this workshop is on process:

<ul>
    <li>Finding the right funders</li>
    <li>How to design excellent programs</li>
    <li>How to persuade funders to support you</li>
</ul>
The workshop is suitable for researchers at any level of experience. Strategies for program design and using a storytelling rubric will be introduced and discussed how to apply them for any proposal. Managing relationships with program officers will also be covered in this workshop.
</p>
