<p>
  Participants who wish to participate in hands-on elements should bring a
  laptop with VirtualBox or a compatible virtualization program installed.
  The VM image will be available for download here as we draw closer to the event (I will send out a notice).
  Please download and test it prior to the start of the workshop.
</p>

<h3><strong>Software</strong> Packages</h3>
<div class="span4">
  <h4><strong>Virtual Machine</strong></h4>
  <p>
    Install <a href="https://www.virtualbox.org/">VirtualBox</a>.
    Download our <a href="https://s3.amazonaws.com/VM_Wksp/CSE+Big+Data+Image.vdi">VM image</a>.
    <strong>Warning:</strong> this file is quite large,
    so please download it <em>before</em> coming to the workshop.
    Load the VM into VirtualBox by selecting "New...",
    creating an Ubuntu 64-bit Linux machine, giving it about half of your RAM,
    and loading the <code>.vdi</code> file as the hard drive.
    </p>
    <p>
    The password for <code>sudo</code> and both users (<code>cse-user</code> and <code>hduser</code>) is <code>cse-user1</code>.
    </p>
  <h4><a href="https://hadoop.apache.org/"><img src="img/hadoop-logo.jpg" /></a> MapReduce</h4>
  <p>
    <a href="https://hadoop.apache.org/">Apache Hadoop</a> is a software
    framework for running certain types of highly parallel jobs across
    distributed clusters with a simple programming model.
  </p>
  <p>
    We will utilize Hadoop locally and on AWS EC2.
  </p>
  <p>
    The version of Pig bundled with the VM was compiled for a different
    version of Hadoop and needs to be recompiled.  Please download the
    script <a href="https://raw.githubusercontent.com/uiuc-cse/bdda-su14/gh-pages/recompile-pig.sh">recompile-pig.sh</a> and save it to your home directory in
    the VM.  Then, on the command line, please execute the following:<br>
    <code>
        cd <br>
        chmod +x recompile-pig.sh <br>
        ./recompile-pig.sh <br>
    </code>
  </p>
  <h4>Amazon Web Services <strong>Elastic Cloud Compute</strong> (EC2)</h4>
  <p>
    <a href="http://aws.amazon.com/">Amazon Web Serices</a> is one of the
    major infrastructure and service providers of cloud computing today.
    The EC2 service allows users to create an array of virtual servers,
    run a map/reduce-style algorithm across the system, and process their
    data efficiently.
  </p>
  <p>
    AWS is one of the contenders for an <a href="http://www.internet2.edu/communities-groups/members/all/level_1/">Internet2</a> contract, making it
    a likely component of a future Big Data platform at UIUC.
  </p>
</div>

<div class="span4">
  <h4><strong>MATLAB</strong></h4>
  <p>
    <a href="http://www.mathworks.com/products/matlab/">MATLAB</a> is a high-
    level language and interactive environment for numerical computation,
    visualization, and programming. MATLAB allows you to analyze data,
    develop algorithms, and create models and applications. An integrated
    development environment and toolboxes enable you to explore multiple
    approaches.
  </p>
  <p>
    We will use the <a href="http://www.mathworks.com/products/statistics/">Statistics Toolbox</a>,
    <a href="http://www.mathworks.com/products/neural-network/">Neural Network Toolbox</a>,
    and <a href="http://www.mathworks.com/products/fuzzy-logic/">Fuzzy Logic Toolbox</a>.
    As the University has already purchased a <a href="https://webstore.illinois.edu/Shop/product.aspx?zpid=1271">sitewide MATLAB license</a>,
    we will use MATLAB 8.3 R2014a, packaged into the VM.
  </p>
</div>

<div class="span8">
    <img src="img/network-vm.png" > Network MAC address settings </img>
</div>
